{% extends 'base.html' %}

{% block title %}Recommendations{% endblock %}

{% block content %}
    {% load static %}
    <div class="py-5">
        <div class="row" id="saved">
            <div class="col-12 col-xs-12 col-sm-12 col-md-7 col-lg-7 order-last order-md-first">
                <h4 class="display-6">Your favorite songs</h4>

                <div v-if="songs.length==0">
                    No songs saved
                </div>
                <div class="d-flex justify-content-center">
                    <div v-show="loadSaved" class="d-flex justify-content-center" class="spinner-border text-dark m-5"
                         role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div v-show="!loadSaved"
                     class="row row-cols-1 row row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2  g-4">

                    <div v-for="song in songs">
                        <div class="card h-100 text-dark bg-light shadow">
                            <div class="card-body">
                                <div class="row g-0">
                                    <div class="col-5">
                                        <img alt="album" loading="lazy" v-bind:src="song.album.images[1].url"
                                             class="rounded card-img-top">
                                    </div>
                                    <div class="col-7">
                                        <div class="mx-3">
                                            <h6 class="card-title">[[song.artistStr]]</h6>
                                            <p class="card-text">[[song.name]]</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group">
                                    <button class="btn btn-dark" v-on:click="dislike(song.id)" title="Dislike this!">
                                        <img src="{% static 'dislike.png' %}">
                                    </button>
                                    <button v-if="song.preview_url!==null" class="btn btn-dark"
                                            title="Listen preview..."
                                            v-on:click="toggle(song)">
                                        <img src="{% static 'play.png' %}" alt="play" v-bind:id="song.id">
                                    </button>
                                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            v-on:click="getSimilar(song.id)">
                                        <img src="{% static 'similar_light.png' %}">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-5 order-first order-md-last">
                <h4 class="display-6">Recommendations</h4>

                <div v-if="recommendations.length==0">
                    No recommendations
                </div>
                <div class="d-flex justify-content-center">
                    <div v-show="loadingRec" class="spinner-border text-dark m-5" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div v-show="!loadingRec"
                     class="row row-cols-2 row-cols-xs-3 row-cols-sm-3 row-cols-md-2 row-cols-lg-2  g-4"
                     v-if="recommendations!==undefined">
                    <div v-for="song in recommendations" class="col">
                        <div class="card h-100 border-dark text-white bg-dark shadow">
                            <img alt="album" loading="lazy" v-bind:src="song.album.images[1].url"
                                 class="rounded card-img-top">
                            <div class="card-body">
                                <h6 class="card-title">[[song.artistStr]]</h6>
                                <p class="card-text">[[song.name]]</p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-group">
                                    <button class="btn btn-light" v-on:click="like(song.id)" title="Like this!">
                                        <img src="{% static 'like-dark.png' %}"></button>
                                    <button v-if="song.preview_url!==null" class="btn btn-light"
                                            v-on:click="toggleDark(song)" title="Like this!">
                                        <img src="{% static 'play-dark.png' %}" alt="play" v-bind:id="song.id"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="similarSong in similar">
                                        <div class="d-flex">
                                            <h5 class="mb-1">[[similarSong.artistStr]]</h5>
                                        </div>
                                        <p class="mb-1">[[similarSong.name]]</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}